<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc81">  <td>21/11/04 14:56:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.test2()[pri:0, instance:APITest@306279ee]">test2</td> 
  <td>main@1239548589</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>21/11/04 14:55:53</td>   <td>-29251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.test1()[pri:0, instance:APITest@306279ee]">test1</td> 
  <td>main@1239548589</td>   <td></td> </tr>
</table>
